#contenedor_principal{
	width: 200px;
	height: 300px;
	padding: 20px;
	margin: 50px;
	border:15px dotted;
	background: rgb(61, 126, 112);
	box-sizing: content-box;	
}


#contenedor_hijo{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 180px;
	height: 260px;
	padding: 30px;
	margin: 20px 10px;
	border:15px groove rgb(25, 0, 255);
	background: rgb(245, 78, 49); 
	box-sizing: border-box;
	overflow: scroll;
	border-radius: 20px;
}